<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class="detail-bg">
      <div class="chat-screen">
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box mine"><span>안녕하세요</span></div>
      </div>
    </div>
    <div class="chat-form">
      <input class="chat-input" />
      <button class="chat-button">전송</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      const socket = io(); //웹소켓 연결
      socket.emit("ask-join", "<%= result._id %>");

      document
        .querySelector(".chat-button")
        .addEventListener("click", function () {
          let 입력 = document.querySelector(".chat-input").value;
          socket.emit("message-send", { msg: 입력, room: "<%= result._id %>" });
        });

      socket.on("message-broadcast", (data) => {
        // 서버로부터 message-broadcast 수신
        document
          .querySelector(".chat-screen")
          .insertAdjacentHTML(
            "beforeend",
            `<div class="chat-box"><span>${data}</span></div>`
          );
      });
    </script>
  </body>
</html>
